
:root{
    --offBlack:#1b1b1b;
    --steel:#8d99b1;
    --pink:#b18d99;
    --ghost:#DCDCDC;
}

header{
    display:flex;
    height:75px;
    width:100%;
    border-radius: 10px;
    background-color: var(--steel);
}

/* .headshot{

} */

.name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    display:inline;
    color: var(--offBlack);
    width:100%;
    height:100%;
    padding-left: 75px;
}

.nav{
    width:100%;
    height:100%;
    flex-flow:row-reverse;
    list-style-type: none;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--offBlack);
    border-radius: 10px;
}

.nav a:link{
    text-decoration:none;
    color: var(--offBlack);
}
.nav a:visited{
    color:var(--offBlack);
}

/* .welcome{
    width:100%;
    height: 50px;
    background-color: black;
} */

.aboutMe{
    display:flex;
    color:var(--offBlack);
    background-color: var(--pink);
    border-radius: 10px;
}

#aboutP{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

#aboutTitle{
    font-size: 50px;
    padding-left: 75px;
    padding-right: 75px;
}


body{
    background-color: var(--offBlack);
}

.myWork{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    color:var(--ghost);
    text-shadow: 0 0 3px;
}

.devSkills{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 3px groove var(--ghost);
    border-bottom: 3px groove var(--ghost);
}

.work1{
    height: 100%; 
    width: 55%; 
    position:relative;
    display:inline-block;
    margin-top:30px;
    margin-right:15%;
    margin-left:15%;
}

.work1 p{
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    font-size: 60px;
    color:ghostwhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
}

/* .work1 img{
    max-height: 100%; 
    max-width: 100%;
    border-radius: 15px;
}  */

/* .work2{
    height:100%;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work2 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work2 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

/* .work3{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work3 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work3 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

/* .work4{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work4 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work4 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

/* .work5{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work5 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work5 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

.work2, .work3, .work4, .work5{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;
}

.work1 img, .work2 img, .work3 img, .work4 img, .work5 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 7px 7px 20px black;
}

.work2 p, .work3 p, .work4 p, .work5 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
}

.contact{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    color:var(--ghost);
    text-shadow: 0 0 3px;
}

@media screen and (max-width:1000px){
    .devSkills{
        display:flex;
        flex-direction: column;
    }
}
