
:root{
    --offBlack:#1b1b1b;
    --steel:#8d99b1;
    --pink:#b18d99;
    --ghost:#DCDCDC;
}

header{
    display:flex;
    height:auto;
    width:100%;
    border-radius: 10px;
    background-color: var(--offBlack);
    color:var(--ghost);
    border-bottom: 3px groove var(--ghost);
}

.headshot{
    position:relative;
    max-height: 450px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 7px 7px 25px black;
    margin-right:30px;
    margin-left:5px;
}

.name{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2vw;
    /* display:inline; */
    color: var(--ghost);
    width:100%;
    height:100%;
    padding-left: 75px;
}

.nav{
    display:flex;
    width:100%;
    height:100%;
    list-style-type: none;
    font-size: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.nav ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nav li{
    margin-left: auto;
    margin-right:auto;
}

.nav a:link{
    text-decoration:none;
    color: var(--ghost);
}
.nav a:visited{
    color:var(--ghost);
}

/* .welcome{
    width:100%;
    height: 50px;
    background-color: black;
} */

#aboutMe{
    display:flex;
    color:var(--ghost);
    background-color: var(--offBlack);
    border-radius: 10px;
    margin-top: 30px;
}

#aboutP{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

#aboutTitle{
    font-size: 50px;
    padding-left: 75px;
    padding-right: 75px;
}


body{
    background-color: var(--offBlack);
}

#myWork{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    color:var(--ghost);
    text-shadow: 0 0 3px;
}

.devSkills{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    border-top: 3px groove var(--ghost);
    border-bottom: 3px groove var(--ghost);
}

.work1{
    height: 100%; 
    width: 55%; 
    position:relative;
    display:inline-block;
    margin-top:30px;
    margin-right:15%;
    margin-left:15%;}

.work1 p{
    position:absolute;
    top:50%;
    left:0;
    right:0;
    margin-top: 50px;
    transform:translate(0, -50%);
    text-align: center;
    font-size: 3vw;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
}

/* .work1 img{
    max-height: 100%; 
    max-width: 100%;
    border-radius: 15px;
}  */

/* .work2{
    height:100%;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work2 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work2 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

/* .work3{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work3 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work3 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

/* .work4{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work4 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work4 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

/* .work5{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:50px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;

} */

/* .work5 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
} */

/* .work5 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
} */

.work2, .work4{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:5%;
}

.work3, .work5{
    height:100%;
    flex-wrap: wrap;
    width:30%;
    margin-top:30px;
    margin-bottom:50px;
    margin-left:5%;
    margin-right:10%;
}

.work1 img, .work2 img, .work3 img, .work4 img, .work5 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 7px 7px 25px black;
}

.work2 p, .work3 p, .work4 p, .work5 p{
    position:relative;
    top:50%;
    left:0;
    right:0;
    transform:translate(0, -50%);
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    color:var(--ghost);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px;
}

#contact{
    font-size:2vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 75px;
    padding-right: 75px;
    color:var(--ghost);
    text-shadow: 0 0 3px;
}

#contact ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#contact li{
    margin-left: auto;
    margin-right:auto;
    list-style-type: none;
}

#contact a:link{
    text-decoration:none;
    color: var(--ghost);
}
#contact a:visited{
    color:var(--ghost);
}

#top{
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
}

#top a:link{
    text-decoration:none;
    color: var(--ghost);
}
#top a:visited{
    color:var(--ghost);
}

@media screen and (max-width:1100px){
    .devSkills{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .nav{
        font-size: 18px;
        display:inline-flexbox;
        /* align-items: center; */
    }

    #aboutP{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
    }

    .headshot{
        max-height: 300px;
        max-width: 100%;
    }

    .work1 p{
        font-size: 3vw;
    }

    .work1{
        width:75%;
    }

    .work2, .work3, .work4, .work5{
        width:60%;
        margin-left: 0;
        margin-right:0;
    }
    
    .work2 p, .work3 p, .work4 p, .work5 p{
        font-size:3vw;
    }
}

@media screen and (max-width:450px){
    #aboutP{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px;
    }

}
