
:root{
    --offBlack:rgb(31, 29, 30);
}

.head{
    display:flex;
    height: 350px;
    background-color: #62758f;
}

h1{
    position:absolute;
    padding-top: 15px;
    padding-left: 50px;
    z-index: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    color: var(--offBlack);
}

.aboutMe{
    display:flex;
    color:var(--offBlack);
    background-color: #8f7c62;
}

#aboutTitle{
    font-size: 35px;
    padding-left: 75px;
}

#scaleText{
    font-size: 20px;
}